.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    border: 1px solid #ccc;
    border: none;
    width: 18rem;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;
  }

  #left-side {
    background: linear-gradient(to bottom, purple, navy); /* Gradient from purple to navy */
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
  }